extends ./layouts/base

block content
  form.input-group.mb-3(action="/tasks/add-task" method="post")
    input.form-control(type='text' placeholder="Write your tasks here...")
    .input-group-append
      button#button-addon2.btn.btn-outline-secondary(type='button') Add Task